<header>
        <div class="logo">
            <a href="#"><img src="/assets/images/samsung-logo.png" alt="samsung"></a>
        </div>
        <section class="search">
                <form method="get"  action="http://www.sbcnoordwest.nl/">
                    <input type="text" class="field" name="s"  placeholder="Zoeken">
                </form>
        </section>
        <section class="extramenu">
            <a href="#">Nieuws</a> | <a href="#">Over ons</a> | <a href="#">Contact</a>
        </section>
        <div class="clear"></div>
        <nav>
            <ul class="menu">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">Oplossingen</a></li>
                <li><a href="#">Sectoren</a></li>
                <li><a href="#">Diensten &amp; Producten</a></li>
                <li><a href="#">Service</a></li>
            </ul>        
        </nav>
</header>