<section class="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <a ><img src="/assets/images/sliders/KNOX.png"></a>
                <div class="slider-topic topic1">
                    <div class="slider-info ">
                        <h2>{{ custom_labels.slider1_text1 }}</h2>
                        <p class="text1">{{ custom_labels.slider1_text2 }}</p>
                    </div>
                </div>
            </li>
            <li>
                <a ><img src="/assets/images/sliders/e-meeting-banner.png"></a>
                <div class="slider-topic topic1">
                    <div class="slider-info ">
                        <h2>{{ custom_labels.slider1_text1 }}</h2>
                        <p class="text1">{{ custom_labels.slider1_text2 }}</p>
                    </div>
                </div>
            </li>
            <li>
                <a ><img src="/assets/images/sliders/enterprise.png"></a>
                <div class="slider-topic topic1">
                    <div class="slider-info ">
                        <h2>{{ custom_labels.slider1_text1 }}</h2>
                        <p class="text1">{{ custom_labels.slider1_text2 }}</p>
                    </div>
                </div>
            </li>
            <li>
                <a ><img src="/assets/images/sliders/Samsunf-wifi.png"></a>
                <div class="slider-topic topic1">
                    <div class="slider-info ">
                        <h2>{{ custom_labels.slider1_text1 }}</h2>
                        <p class="text1">{{ custom_labels.slider1_text2 }}</p>
                    </div>
                </div>
            </li>
            <li>
                <a ><img src="/assets/images/sliders/Samsung-present.png"></a>
                <div class="slider-topic topic1">
                    <div class="slider-info">
                        <h2>{{ custom_labels.slider2_text1 }}</h2>
                        <p class="text1">{{ custom_labels.slider2_text2 }}</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>